<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KatalogBuku.Properties.Settings.katalogConnectionString"
            connectionString="Data Source=DESKTOP-5L26KM2;Initial Catalog=katalog;User ID=sa;Password=musafak93"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>